keil_project/Objects
keil_project/Listings
keil_project/stm32g431_keil_pro.uvguix.ufo28
FOC/foc_demo/foc-motor-driver-master/Code/STM32G473CBT6_FOC/MDK-ARM/STM32G473CBT6_FOC.uvguix.ufo28
FOC/foc_demo/foc-motor-driver-master/Code/STM32G473CBT6_FOC/MDK-ARM/STM32G473CBT6_FOC.uvguix.12586
# Keil 用户本地配置
./*.uvoptx
*.uvguix
*.bak

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
